services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: vulninventory
      POSTGRES_USER: vulninventory
      POSTGRES_PASSWORD: vulninventory
    ports:
      - "5432:5432"
    volumes:
      - pgdata_dev:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

volumes:
  pgdata_dev:
